/* Signup.css */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .p {
    text-align: center;
    color: white;
    text-shadow: 8px 5px 5px #0e0c07;
    padding-bottom: 0px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input,select,textarea {
    width: 93%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a3439;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(35, 36, 45);
  }
  
  .link {
    text-align: center;
    margin-top: 20px;
  }
  
  .link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .link a:hover {
    text-decoration: underline;
  }
  
  .required{
    color: red;
  }
  
  /* AddProduct.css */
/* AddProduct.css */
.preview-images {
  display: flex;
  flex-wrap: wrap;
}

.image-box {
  width: 100px;
  height: 100px; /* You can adjust this aspect ratio as needed */
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden; /* Hide overflow to ensure uniform appearance */
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the image within the box */
}

/* AddProduct.css */
.price-input {
  display: flex;
  align-items: center;
}

.currency-symbol {
  margin-right: 5px; /* Adjust spacing as needed */
  font-weight: bold;
}

.background {
  position: fixed;
  top:65px;
  width: 100%;
  z-index: -1;
}
